<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="destination" value="logs" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} --> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="daily" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${destination}/store.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${destination}/store.log-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} --> %msg%n</pattern>
        </encoder>
        <!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN,ERRO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        -->
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="stdout" />
        <appender-ref ref="daily" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="stdout" />
        <appender-ref ref="daily" />
    </root>

</configuration>
